.menu__toggler {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
    top: -8px;
}

.menu__toggler span::after {
    top: 8px;
}

.menu__toggler.active > span {
    background: transparent;
}

.menu__toggler.active > span::before, .menu__toggler.active > span::after {
    background: #005c9c;
    top: 0px;
}

.menu__toggler.active > span::before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.menu {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -30%;
    z-index: 998;
    color: #005c9c;
    background: rgba(0, 0, 0, 0.9);
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 15%;
    height: 100%;
    padding: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 600px) {
    .menu {
        width: 250px;
        left: -250px;
        padding: 50px;
    }

    .menu p {
        font-size: 1rem;
        margin-bottom: 1rem;
        left: -10px;
    }
}

.menu.active {
    left: 0;
}

.menu p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/*
 * BASIC STYLES
 */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: radial-gradient(circle, #232323 6%, #000000 100%);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fafafa;
    mix-blend-mode: overlay;
    margin-left: 320px;
    margin-top: 10px;

}

.active:hover {
    transform: scale(1.2, 1.2);
    font-weight: bolder;
}

a {
    color: white;
    text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
}

#requadrefooter {
    margin: 100px;
    margin-left: 360px;
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.footerelements {
    height: 145px;
    width: 140px;
    color: white;
    font-family: Verdana, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
    padding: 10px;
    text-align: center;

}

.textfooter {
    text-align: center;
    margin: 10px;
}

h4 {
    color: grey;
}

h4:hover {
    transform: scale(1.2, 1.2);
}


/* Web coche*/


.caixa h1 {
    color: white;
    text-align: center;
    margin-left: 320px;
    margin-top: 10px;
}


.sketchfab-embed-wrapper {
    display: flex;
    justify-content: space-around;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}

.gallery__img {
    transition: 1s;
    width: 260px;
    height: 150px;
    object-fit: fill;
}

.gallery__img:hover {
    transform: scale(1.1);
}

.lb-loader, .lightbox {
    text-align: center;
    line-height: 0
}

.lb-dataContainer:after, .lb-outerContainer:after {
    content: "";
    clear: both
}

body.lb-disable-scrolling {
    overflow: hidden
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-weight: 400
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid #fff
}

.lightbox a img {
    border: none
}

.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff
}

.lb-loader, .lb-nav {
    position: absolute;
    left: 0
}

.lb-outerContainer:after {
    display: table
}

.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url("img/loading.gif") no-repeat
}

.lb-nav {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container > .nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next, .lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url("img/prev.png") left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url("img/next.png") right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.lb-dataContainer:after {
    display: table
}

.lb-data {
    padding: 0 4px;
    color: #ccc
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em
}

.lb-data .lb-caption a {
    color: #4ae
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url("img/close.png") top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}

#box1 {
    border: white 1px;
    height: 20px;
    width: 200px;
    background-color: white;
}

#box2 {
    border: white 1px;
    height: 20px;
    width: 300px;
    background-color: white;
}

#box3 {
    border: white 1px;
    height: 180px;
    width: 500px;
    background-color: white;
}

header {
    height: 100px;
    text-align: center;
    font-size: 20px;
    animation: pulse 5s infinite;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;

}

@keyframes pulse {
    0% {
        background-color: darkorchid;
    }

    25% {
        background-color: yellow;

    }

    50% {
        background-color: red;

    }

    75% {
        background-color: green;

    }


    100% {
        background-color: cyan;
    }
}

#caixa4 {
    text-align: center;
    width: 1920px;
    height: 1080px;
    background-image: radial-gradient(circle, #232323 6%, #000000 100%);
}

#text {
    color: white;
    display: inline-block;
    margin: 0 auto;
    width: 800px;
    line-height: 1.5;
    font-size: 18px;

}

#regreso1 {
    float: left;
    background-size: cover;
    background-image: url("img/regreso1.jpg");
    width: 400px;
    height: 700px;


}

#regreso2 {
    float: right;
    background-size: cover;
    background-image: url("img/regreso2.jpg");
    width: 400px;
    height: 700px;

}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: darkgray;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

.form h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #384047;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #44aaee;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #44aaee;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #44aaee;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}

body2 {
    width: 1920px;
    height: 1080px;
    background-image: radial-gradient(circle, #232323 6%, #000000 100%);
}

#titol h1 {
    color: white;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 60px;
    margin-top: -60px;
}

#carrosseria h2 {
    color: white;
    float: left;
    margin-left: 300px;
}

#xassis h2 {
    color: white;
    float: left;
    margin-left: 600px;
}

#interior h2 {
    color: white;
    float: right;
    margin-right: 100px;
}

#info1 h3 {
    float: left;
    margin-left: 40px;
    grid-area: myArea;
}

#info2 h3 {
    float: left;
    margin-left: 230px;
    grid-area: paraf;
}

#info3 h3 {
    float: right;
    margin-left: 230px;
    grid-area: myArea;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    margin-top: 100px;
}

.paraf {
    display: grid;
    color: white;
    grid-template-areas: "paraf paraf paraf";
}

.gallery__img {
    transition: 1s;
    width: 620px;
    height: 400px;
    object-fit: fill;
}

#text2{
    color: white;
}
