---
layout: default
---
<div id="content">
    <h1>Pagina de informacion sobre el Delorean de Regreso al futuro</h1>
    <p id="text2">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
        ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
    <div id="caixa">
        <div class="sketchfab-embed-wrapper">
            <iframe width="960" height="720"
                    src="https://sketchfab.com/models/8c95b0cb3a054bd7880e30c348d03e93/embed?autostart=1&amp;preload=1"
                    frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true"
                    webkitallowfullscreen="true"></iframe>
        </div>
    </div>
</div>
