body{
    width: 1920px;
    height: 1080px;
    background-image: radial-gradient(circle, #232323 6%, #000000 100%);
}

h1{
    text-align: center;
    color: white;
    font-size: 30px;
}

#carroceria{
    float: left;
    background-size: cover;
    background-image: url("img/carroceria.jpeg");
    width: 400px;
    height: 700px;

}
#xassis{
    float: right;
    background-size: cover;
    background-image: url("img/xassis.png");
    width: 400px;
    height: 700px;

}
#interior{
    float: right;
    background-size: cover;
    background-image: url("img/interior.jpg");
    width: 400px;
    height: 700px;
}


