---
layout: default
---

<div id="body2">
    <div id="titol">
        <h1>Información Delorean</h1>
    </div>
    <div id="carrosseria">
        <h2>Carroceria</h2>
    </div>
    <div id="xassis">
        <h2>Chassis</h2>
    </div>
    <div id="interior">
        <h2>Interior</h2>
    </div>
    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <a href="img/carroceria.jpg" data-lightbox="mygallery" data-title="Lorem Ipsum"><img
                    src="img/carroceria.jpg"
                    class="gallery__img"
                    alt="Carroceria"></a>
        </figure>
        <figure class="gallery__item gallery__item--2">
            <a href="img/xassis.jpg" data-lightbox="mygallery" data-title="Etiam lacinia"><img src="img/xassis.jpg"
                                                                                               class="gallery__img"
                                                                                               alt="Xassis"></a>
        </figure>
        <figure class="gallery__item gallery__item--3">
            <a href="img/interior.jpg" data-lightbox="mygallery" data-title="Pellentesque habitant"><img
                    src="img/interior.jpg" class="gallery__img" alt="Interior"></a>
        </figure>
    </div>
    <div class="paraf">
        <div id="info1">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</h3>
        </div>
        <div id="info2">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</h3>
        </div>
        <div id="info3">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.</h3>
        </div>
    </div>
</div>
