---
layout: default
---

<form action="index.html" method="post">

    <fieldset>
        <legend><span class="number">1</span>Datos</legend>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="user_name">

        <label for="mail">Email:</label>
        <input type="email" id="mail" name="user_email">

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="user_password">

        <label>Edad:</label>
        <input type="radio" id="under_18" value="under_18" name="user_age"><label for="under_18" class="light">Menor de 18</label><br>
        <input type="radio" id="over_18" value="over_18" name="user_age"><label for="over_18" class="light">Mayor de 18</label>
    </fieldset>

    <fieldset>
        <legend><span class="number">2</span>Tu perfil: </legend>
        <label for="interest">Cuentanos sobre ti:</label>
        <textarea id="interest" name="user_interest"></textarea>
    </fieldset>
    <fieldset>
        <label for="job">Porque te gusta Delorean?</label>
        <select id="job" name="user_job">
            <optgroup label="Opcion">
                <option value="movie">Regreso al futuro.</option>
                <option value="awesome">Por lo mitico que es.</option>
                <option value="scientist">Soy un cientifico.</option>
                <option value="enthusiast">Me gusta la ciencia ficcion</option>
                <option value="owner">Tengo un Delorean</option>
            </optgroup>
        </select>
    </fieldset>
    <button type="submit">Registrarme</button>
</form>

