---
layout: default
---
<div id="caixa">
    <h1>Modelo Delorean real</h1>
    <div class="sketchfab-embed-wrapper"><iframe width="960" height="720" src="https://sketchfab.com/models/6b8aeb80b6d74656bbb7e2a3656cdd95/embed?autostart=1&amp;preload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <a href="img/d1.jpg" data-lightbox="mygallery" data-title="Lorem Ipsum"><img src="img/d1.jpg" class="gallery__img" alt="Image1" ></a>
        </figure>
        <figure class="gallery__item gallery__item--2">
            <a href="img/d10.jpg" data-lightbox="mygallery" data-title="Etiam lacinia"><img src="img/d10.jpg" class="gallery__img" alt="Image10" ></a>
        </figure>
        <figure class="gallery__item gallery__item--3">
            <a href="img/d3.jpg" data-lightbox="mygallery" data-title="Pellentesque habitant"><img src="img/d3.jpg" class="gallery__img" alt="Image3" ></a>
        </figure>
        <figure class="gallery__item gallery__item--4">
            <a href="img/d7.jpg" data-lightbox="mygallery" data-title="Donec dapibus"><img src="img/d7.jpg" class="gallery__img" alt="Image7" ></a>
        </figure>
        <figure class="gallery__item gallery__item--5">
            <a href="img/d5.jpg" data-lightbox="mygallery" data-title="Vivamus non pretium tellus"><img src="img/d5.jpg" class="gallery__img" alt="Image5" ></a>
        </figure>
        <figure class="gallery__item gallery__item--6">
            <a href="img/d9.jpeg" data-lightbox="mygallery" data-title="Curabitur tristique"><img src="img/d9.jpeg" class="gallery__img" alt="Image9" ></a>
        </figure>
    </div>
</div>