<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project: Delorean</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="menu">
    <p class="active"><a href="index.html">Pagina principal</a></p>
    <p class="active"><a href="webCoche.html">Galeria de imagenes</a></p>
    <p class="active"><a href="cinema.html">Apariciones en las peliculas</a></p>
    <p class="active"><a href="info.html">Informacion del coche</a></p>
    <p class="active"><a href="questionari.html">Questionario</a></p>
</div>
<div class="menu__toggler">
    <span>
    </span>
</div>

{{ content }}

<script src="scripts.js"></script>
<script src="lightbox-plus-jquery.min.js"></script>

<footer id="footer">
    <div id="requadrefooter">
        <div class="footerelements">
            <h4>CLIENTS</h4>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>

        </div>
        <div class="footerelements">
            <h4>BLOGS</h4>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
        </div>
        <div class="footerelements">
            <h4>NOTÍCIES</h4>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
        </div>
        <div class="footerelements">
            <h4>ALTRES</h4>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
            <p class="textfooter"> Lorem ipsum</p>
        </div>
    </div>
</footer>

</body>
</html>
